header {
    background-color: #333;
    box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.25);
}

header nav#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1240px;
    margin: 0 auto;
    padding: 0 2rem;
    height: 90px;
}

header nav#nav-bar .nav-brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header nav#nav-bar .nav-brand h1 {
    font-family: 'Grenze', serif;
    font-weight: 400;
    font-size: 2rem;
}

header nav#nav-bar ul.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

header nav#nav-bar ul.nav-list li /*a*/ {
    color: #ccc;
    font-size: 1.1rem;
    transition: color 0.3s;
}

header nav#nav-bar ul.nav-list li/*a*/:hover {
    color: #fff;
    transition: color 0.3s;
    cursor: pointer;
}